<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>网上投票系统后台</title>
  <link rel="stylesheet" href="/jitai/layui/css/layui.css">
  <script src="jitai/js/jquery-3.1.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">网上投票后台管理</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="upload/imgs/1561048251884.png" class="layui-nav-img">
          admin
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a href="javascript:;">pk管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" onclick="pkShow()">pk详情</a></dd>
            <dd><a href="javascript:;" onclick="addSow()">添加pk</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">参加人员管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" onclick="ParticipantShow()">参赛人员详情</a></dd>
            <dd><a href="javascript:;" onclick="ParticipantAdd()">添加参赛人员</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">投票人员管理</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">投票人员详情</a></dd>
            </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body" style="background: white">
      <iframe id="mainFrame" src="/showpk" width="100%"  height="100%"></iframe>
  </div>
  <div class="layui-footer" style="background: white">
    <!-- 底部固定区域 -->
     - 底部固定区域 -
  </div>
</div>
<script src="/jitai/layui/layui.all.js" ></script>
<script>
        //JavaScript代码区域
        layui.use('element', function(){
          var element = layui.element;

        });
        function addSow() {
          $("#mainFrame").attr("src","/addpk");
        }
        function ParticipantShow() {
          $("#mainFrame").attr("src","/participantshow");
        }
        function pkShow() {
          $("#mainFrame").attr("src","/showpk");
        }
        function ParticipantAdd() {
          $("#mainFrame").attr("src","/participantadd");
        }
</script>
</body>
</html>